input {
  border-radius: 2px;
  padding: 5px;
  margin: 7px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  width: 100%;
}

.form-group {
  margin-top: 20px;
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

label {
  margin-right: 10px;
  padding: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  & > .btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 16px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    font-size: 24px;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: t;
    }
  }
}
