.footer {
  height: 500px;
  width: 100%;
  opacity: 0.8;
  background-size: cover;
  color: aliceblue;
  position: relative;
  bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
  font-family: sans-serif;
}
.right {
  height: 480px;
  width: 100%;
  display: flex;
}
.aboutIndia {
  width: 35%;
  padding-right: 40px;
}
.theory {
  line-height: 1.5;
  color: darkslategrey;
  font-weight: bold;
}
.about {
  padding-top: 50px;
}
.tag {
  width: 65%;
  padding-top: 50px;
  display: flex;
  margin-left: 20px;
}
.line {
  height: 3px;
  background-color: aliceblue;
  width: 150px;
}

.inline {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 190px;
  height: 25px;
}
.stateTourism {
  width: 600px;
}
a {
  color: blueviolet;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: red;
}
