%border-check {
  border: 2px solid green;
}
// transition time
$delay: 400ms;
$box-bg: hsla(0, 0%, 0%, 0.459);
$small: 600px;
$medium: 786px;

%transition-box {
  transition: all $delay ease-out;
}

.experience {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experienceCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-width: 90vw;
  width: 90vw;
  margin-top: 2.5rem;
  @media screen and (max-width: $small) {
    grid-template-columns: repeat(2, 1fr);
  }
  .exp-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 200px;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    overflow: hidden;
  }
  .exp-name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: 1.2rem;
    width: 100%;
    background: $box-bg;
    color: rgba(255, 255, 255, 0.877);
  }
  .upper {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0%;
    transform-origin: 100% 0%;
    transform: rotate(90deg);
    user-select: none;
    pointer-events: none;
    background: $box-bg;
    @extend %transition-box;
  }
  .lower {
    pointer-events: none;
    user-select: none;
    height: 50%;
    bottom: 0%;
    position: absolute;
    width: 100%;
    transform-origin: 0% 100%;
    transform: rotate(90deg);
    background: $box-bg;
    @extend %transition-box;
  }
  .hover-name {
    opacity: 0;
    pointer-events: none;
    color: #fff;
    z-index: 2;
    transform: scale(0.1);
    transition: all 60ms ease-out;
  }
  .exp-card:hover {
    cursor: pointer;
  }
  .exp-card:hover .hover-name {
    opacity: 1;
    transform: scale(1);
    transition: all 400ms;
    transition-delay: $delay;
  }
  .exp-card:hover .upper {
    transform: rotate(0deg);
  }
  .exp-card:hover .lower {
    transform: rotate(0deg);
  }
}
