@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: whitesmoke;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: gainsboro;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(86, 86, 88, 0.5);
}
